p{
    text-align: left;
    text-emphasis-color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: 400;

    
}
h1{
    text-align: center;
    text-emphasis-color: red;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: 500;

}
.munya{
    border-radius: 24;
    align-items: normal;
    
}